body{


}
  .line{
    width: 100%;
    height: 3px;
    background: black;
  }
 .images_division{
   width: 70%;
   display: flex;
   justify-content: space-around;
 }
  .images_division-mobile{
   width:100%;
   display: flex;
   justify-content: space-around;

 }
.images{
  width: 70%;

  margin-top: 10px;
}
.final-screenshots{
  display: flex;

}
.images-division-final{
width:40%;
}
.images-final{
  width: 100%;
}
header{
  text-align: center;
}
p{
  font-size: 25px;
}
