body{
  text-align: center;

}
  .line{
    width: 100%;
    height: 3px;
    background: black;
  }
 .images_division{
   width: 70%;
 }
.images{
  width: 100%;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
